/* todo: delete file if not needed */
.navbar-style { 
    background-color:#2e2e2e !important; 
} 

.link-a, .link-a > a  {
    color: #FFFF !important;
}


.link-user{
    background: #fff;
    height: 0;
    border-right: 16.5px solid transparent;
    border-bottom: 50.5px solid transparent;
    border-left: 123.5px solid #2e2e2e;
}